.header {
    background-color: var(--black);
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1206px;
    padding: 0 34px;
    box-sizing: border-box;
}

.header__links {
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.header__link {
    transition: .2s;
}

.header__link:hover {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

@media screen  and (min-width: 500px) {
    .header__container {
        flex-direction: row;
        justify-content: space-between;
    }
}